@model GigHub.ViewModels.GigsViewModel

@{
    ViewBag.Title = "Home Page";
}
<h1 class="Headings" style="margin-top:80px;">@Model.Heading</h1>
@using (Html.BeginForm("Search","Gigs"))
{
    <div class="form-group">
        <div class="input-group" style="width:300px;">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder="Search by Name, Genre or Location" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
    
}
<ul class="gigs " style="list-style:none; margin-top:60px;" >
    @foreach(var gig in Model.UpcomingGigs)
    {
        <li style="position: relative; margin-bottom: 30px;">
               <div class="date" style="background:red; color:white; text-align:center; width:60px;border-radius:8px;">
                   <div class="month" style="text-transform: uppercase;font-size: 14px;padding: 2px 6px;">
                       @gig.DateTime.ToString("MMM")
                   </div>
                   <div class="day" style="background:#f7f7f7;color:#333;font-size:20px;padding:6px 12px;">
                       @gig.DateTime.ToString("d ")
                   </div>
               </div> 
               <div class="details" style=" position:absolute; top:0; left:70px;">
                   <span class="artist" style="font-weight:bold; display:block;">
                       @gig.Artist.Name

                       @if(gig.IsCanceled)
                       {
                           <span class="label label-warning" >Canceled</span>
                       }

                       @if(Model.ShowActions)
                       {
                       <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@gig.ArtistId">Follow</button>
                       }
                   </span>
                   <span class="genre" style="font-size:15px;">
                       @gig.Genre.Name
                   </span>
                   @if(Model.ShowActions && !gig.IsCanceled)
                   {
                   <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>
                   }
               </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var btn = $(e.target);
                $.post("/api/attendances", {gigId: btn.attr("data-gig-id") })
                    .done(function () {
                        btn.removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed")
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Something failed");
                        });

                
            });
        });
            
            
    </script>
    
}